# Python virtual environments
venv/
myenv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Large files / model files
# *.pkl  <-- Comment this out or delete this line

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# VSCode or other IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
